@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-round-carousel/src/index.css';

@font-face {
  font-family: "BubblegumSans";
  src: url(../public/assets/font-family/Bubblegum_Sans/BubblegumSans-Regular.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Bubblegum_Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
